/ %div{ style: "height: 3em" }
.navbar.navbar-inverse
  .navbar-inner
    .container
      %p.text-muted.text-center{ style: "padding-top: 1em" }
        &copy; 
        Brandt Lareau
        = Date.today.year
        &bull;
        =l Time.zone.now, format: :long
