.dropdown
  %button#dropdownMenu1.btn.dropdown-toggle.sr-only{"data-toggle" => "dropdown", type: "button"}
    Dropdown
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "user", role: "menu"}
    %li{role: "presentation"}
      %a{href: "#", role: "menuitem", tabindex: "-1"} Action

%nav.navbar.navbar-default.navbar-custom.navbar-static-top.navbar-inverse{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{type: "button", data: {target: ".navbar-collapse", toggle: "collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag "apple-touch-icon.png", class: "navbar-icon"
        %span.hidden-sm.oleo-script.bold Brandt Lareau