= content_for :title, "<%= singular_table_name.humanize %>"

= error_summery(@<%= singular_table_name %>)

.panel.panel-default
  .panel-heading
    .panel-title
      %strong= title.upcase
      %small.text-muted edit

  = render '<%= plural_table_name %>/form'
